@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "tailwindcss";

@font-face {
  font-family: "SeoulHangangM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-hangang: "SeoulHangangM", sans-serif;
}

body {
  /* font-family: "SeoulHangangM", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, sans-serif; */
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, sans-serif;
}
